@font-face {
    font-family: 'Milky Matcha';
    src: url('../assets/Milky Matcha.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container-c {
    width: 1440px;
    height: 700px;
    background-color: #ffffff;
    border: 55px solid #00514b;
    overflow: visible;
    margin: auto;
    padding-top: 40px 0;
    position: relative;
    max-width: 100%;
}

@media (max-width: 1440px) {
    .container-c {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .container-c {
        border: 30px solid #00514b;
    }
}

@media (max-width: 768px) {
    .container-c {
        border: 20px solid #00514b;
        height: auto;
        min-height: 700px;
    }
}

@media (max-width: 480px) {
    .container-c {
        border: 10px solid #00514b;
    }
}

h1 {
    text-align: center;
    padding: 20px;
    color: #00514b;
    margin: 0;
    width: 477;
    height: 66;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}

.span-styl {
    font-family: 'Milky Matcha';
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    span {
        font-size: 28px;
    }
}

.row {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    cursor: grab;
    user-select: none;
}

.row:active {
    cursor: grabbing;
}

.card {
    flex-shrink: 0;
    width: 360px;
    height: 200px;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 14px 0px #00514B4A;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile h3 {
    margin: 0;
    font-size: 1em;
}

.profile p {
    margin: 0;
    font-size: 0.8em;
    color: #777;
}

.testimonial {
    font-size: 0.9em;
    line-height: 1.4;
}